modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Astro Server"

[[workflows.workflow]]
name = "Astro Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev -- --port 5000 --host 0.0.0.0"
waitForPort = 5000

[[workflows.workflow]]
name = "build"
mode = "sequential"
author = 37140933

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "astro"
mode = "sequential"
author = 37140933

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run astro "

[deployment]
run = ["sh", "-c", "npm install && npm run dev -- --port 5000 --host 0.0.0.0"]

[[ports]]
localPort = 5000
externalPort = 80
